version: 2

jobs:
  build:
    working_directory: ~/app
    docker:
      - image: circleci/openjdk:8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotgradle-{{ checksum "build.gradle" }}
            - dotgradle-
      - run:
          name: Run gradle build
          command: ./gradlew build
      - save_cache:
          paths:
            - ~/.gradle
          key: dotgradle-{{ checksum "build.gradle" }}
      - store_test_results:
          path: ./build/test-results/test/
      - run:
          name: Generate Build version
          command: |
            echo "export BUILD_VERSION=$(date +%Y%m%d%H%M)-$CIRCLE_BUILD_NUM" >> $BASH_ENV
      - run:
          name: Save Fat Jar
          command: |
            mkdir -p ./build/artifacts
            mv build/libs/*.jar ./build/artifacts/
      - store_artifacts:
          path: ./build/artifacts
