version: 2

jobs:
    build:
        working_directory: ~/app
        docker:
            - image: circleci/openjdk:8
        steps:
            - checkout
            - restore_cache:
                keys:
                  - dotgradle-{{ checksum "build.gradle" }}
                  - dotgradle-
            - run:
                name: Run gradle build
                command: ./gradlew build
            - save_cache:
                paths:
                  - ~/.gradle
                key: dotgradle-{{ checksum "build.gradle" }}
            - store_test_results:
                path: ./build/test-results/test/
            - run:
                name: Generate Build version
                command: |
                  echo "export BUILD_VERSION=$(date +%Y%m%d%H%M)-$CIRCLE_BUILD_NUM" >> $BASH_ENV
            - run:
                name: Save Fat Jar
                command: |
                  mkdir -p ./build/artifacts
                  mv build/libs/*.jar ./build/artifacts/
                  ls -1 ./build/artifacts/pdfGenerator-*.jar | sed 's/^.*pdfGenerator-\(.*\)\.jar.*$/\1/' > ./build/artifacts/version.txt
                  cp ./build/artifacts/pdfGenerator*.jar ./build/artifacts/pdfGenerator.jar
            - persist_to_workspace:
                root: ./build/artifacts/
                paths:
                  - ./pdfGenerator.jar
                  - ./version.txt
            - store_artifacts:
                path: build/artifacts
                destination: jars
    deploy:
        docker:
            - image: paulodiovani/aws-eb-cli
        working_directory: ~/app
        steps:
            - attach_workspace:
                at: /workspace
            - checkout
            - run:
                name: Deploy to Elastic Beanstalk
                command: |
                  eb deploy --label $(cat /workspace/version.txt)

workflows:
    version: 2
    build-deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                      only: master